* {
  box-sizing: border-box;
  /* background-color: rgb(226, 215, 215); */
}
.h3 {
  position: relative;
  background-color: rgba(71, 71, 71, 0.479);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.App {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.App .column {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 580px;
  padding: 5px;
}

.drag {
  overflow-y: scroll;
  height: 500px;
}
.drag::-webkit-scrollbar {
  display: none;
}

.droppablecol {
  min-height: 40px;
  width: 100%;
  background-color: gray;
  padding: 10px 10px 5px 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

/* Card-------------------------- */


.root {
  overflow: auto;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  max-height: 190px;
  /* margin-bottom: 5px; */
  padding: 5px;
  /* color: rgb(255, 255, 255); */
}
.root::-webkit-scrollbar {
  display: none;
}
.controls{
  position: relative;
}
.date{
  opacity: 50%;
  font-size: small;
}

.title{
  text-transform: capitalize;
}

.item.dragging {
  background-color: coral;
}